body {
    background-color: #e9f9de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login-div{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vw;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    margin-top: 100px;
}

#game-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.div-cell{
    height: 190px;
    width: 190px;
    margin: 3px;
    border: 1px solid #0e0e0e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.div-cell {
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

